.app {
    padding: 30px;
    background: linear-gradient(
            90deg,
            rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%
    );
}

body{
    background: linear-gradient(
            90deg,
            rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%
    );
}

.form {
    color: white;
}

.todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}